config/Steinberg Installation Updater/
config/configstore/
config/fish/fishd.*
config/fisherman/
config/gcloud/
config/mupen64plus/
config/muse.org/
config/nixpkgs/
config/nvim/plugged/
config/octave/
