[user]
	name = Thomas Marsh
	email = thomas@fiftythree.com

[core]
	editor = vim
	excludesfile = /Users/tmarsh/.gitignore_global
	autocrlf = input
	trustctime = false

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
    dt = difftool --dir-diff
    dtc = difftool --dir-diff --cached
    pd = "!f() { git pr difftool $1 -- --dir-diff; }; f"
    st = status
    ci = commit
    cm = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    d2 = diff --cached
    lg = log -p
    lgf = log --follow
    logf = log --follow
    logp = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    lx = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    diff2 = diff --cached
    discard = checkout --
    unstage = reset HEAD
    amend = commit --amend
    continue = rebase --continue
    feature = flow feature
    release = flow release
    hotfix = flow hotfix
    rb = rebase


[branch]
    autosetuprebase = always

[color]
    ui = auto
   # diff = auto
    status = auto
    branch = auto
    interactive = auto

[diff]
	tool = bcomp
	guitool = bcomp

[difftool]
    prompt = false

[difftool "bcomp"]
    trustExitCode = true
    path = "/usr/local/bin"
    cmd = "bcomp" "$LOCAL" "$REMOTE"

[merge]
	tool = bcomp

[mergetool]
    prompt = false

[mergetool "bcomp"]
    trustExitCode = true
    cmd = "usr/local/bin/bcomp" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[rerere]
	enabled = 1
[fetch]
	prune = true
[push]
	default = current
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
